## Data Processing 
This notebook prepares cleaned data for the machine learning models.

Steps:

1. Load cleaned data (output of `data_cleaning.ipynb`)

2. Train Test Split the data 

3. Encode Categorical Features and Scaling Numeric Features 

4. Handle Class Imbalance

## 1. Importing necessary package and getting data

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.compose import ColumnTransformer

In [12]:
data = pd.read_csv("../data/clean_merged.csv")

In [13]:
data.head()

,id,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,name_income_type,name_education_type,name_family_status,name_housing_type,...,cnt_fam_members,age,is_employed,years_employed,amt_income_log,max_delay,avg_delay,num_bad_months,months_total,label
0,5008804,1,1,1,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,2,32,1,12.435318,12.965712,1,0.000000,0,16,0
1,5008805,1,1,1,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,2,32,1,12.435318,12.965712,1,0.000000,0,15,0
2,5008806,1,1,1,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,...,2,58,1,3.104723,11.630717,0,-0.533333,0,30,0
3,5008808,0,0,1,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,1,52,1,8.353183,12.506181,0,-0.600000,0,5,0
4,5008809,0,0,1,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,1,52,1,8.353183,12.506181,-1,-1.000000,0,5,0

## 2. Train Test Split

In [14]:
X = data.drop(columns=['label', 'id'], axis=1)
y = data['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

print(f"Original data shape: {X.shape}")
print(f"X_train shape: {X_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"y_train class distribution:\n{y_train.value_counts(normalize=True)}")
print(f"y_test class distribution:\n{y_test.value_counts(normalize=True)}")

Original data shape: (36457, 23)
X_train shape: (29165, 23)
X_test shape: (7292, 23)
y_train class distribution:
label
0    0.983096
1    0.016904
Name: proportion, dtype: float64
y_test class distribution:
label
0    0.983132
1    0.016868
Name: proportion, dtype: float64

In [ ]:
#haven't run yet
X_train.to_csv("../data/X_train.csv", index=False)
X_test.to_csv("../data/X_test.csv", index=False)
y_train.to_csv("../data/y_train.csv", index=False)
y_test.to_csv("../data/y_test.csv", index=False)

## 3. Encode Categorical Features

## 4. Scale Numeric Data